<html>
<head>
  <title>Mindmetrics - Personality Analyzer</title>
  <link rel="icon" href="/client/img/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
  <body>
  <div id="app-container"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Open Sans']
      }
    });
  </script>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
