@import "../core/mixins.less";

.beh-report {
  padding: 35px 0 67px!important;

  .mobile({
    padding: 35px 10px 67px!important;
  });

  &__row {
    display: flex;
    margin-top: 40px;
    flex-direction: column;

    .r1100({
      padding: 0 20px;
    });

    .tablet({
      padding: 0;
      flex-wrap: wrap;
    });
  }

  &__col {

    .tablet({
      width: 100%;
      margin: 0 auto 40px;
    });

    &:first-child {
      text-align: left;

      .tablet({
        max-width: 305px;
      });
    }
  }

  &__text {
    display: inline-flex;
    text-align: left;
    font-size: 13px;
    .tablet({ font-size: 18px; });
  }


}
