.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  color: #00729A;
  box-sizing: border-box;

  &:hover {
    color: darken(#00729A, 15%)
  }

  &.is-orange {
    color: #f39209;
  }

  &.is-big {
    width: 250px;
    padding: 15px 0;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: -1px;
    background-color: @orange;

    &:hover {
      background-color: darken(@orange, 10%);
    }
  }

  &.is-small {
    padding: 13px 29px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    background-color: @orange;

    &:hover {
      background-color: darken(@orange, 10%);
    }
  }


  &.is-plus {
    width: 50px;
    height: 50px;
    background-color: #efefef;
    border-radius: 50%;

    &:after,
    &:before {
      position: absolute;
      content: '';
      width: 5px;
      height: 30px;
      background-color: #bbb;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    &:before {
      transform: translate(-50%,-50%) rotate(90deg);
    }
  }

  &.is-plus-small {
    width: 28px;
    height: 28px;

    &:after,
    &:before {
      position: absolute;
      content: '';
      width: 5px;
      height: 30px;
      background-color: #ccc;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    &:before {
      transform: translate(-50%,-50%) rotate(90deg);
    }

    &.is-open {
      transform: rotate(45deg);
    }
  }

  &.is-social {
    align-items: center;
    width: 233px;
    height: 52px;
    text-transform: uppercase;
    border: 2px solid #f5f5f5;
    font-size: 12px;
    color: #666;

    i {
      margin-right: 7px;
    }
  }

  &.is-block {
    display: flex;
    width: 100%;
  }
}

.btn-group {
  display: flex;
  justify-content: center;
}
