.ico {
  display: inline-flex;
  align-items: center;

  &.is-fb {
    background: url(/client/img/social_icons.png);
    background-position: 0 0;
    width: 32px;
    height: 30px;
  }

  &.is-tw {
    background: url(/client/img/social_icons.png);
    background-position: -38px 0;
    width: 32px;
    height: 30px;
  }

  &.is-g {
    background: url(/client/img/social_icons.png);
    background-position: -78px 0;
    width: 32px;
    height: 30px;
  }

  &.is-in {
    background: url(/client/img/social_icons.png);
    background-position: -116px 0;
    width: 32px;
    height: 30px;
  }
}
