@import "../core/mixins.less";

.premium {
  padding: 40px 0 68px;
  border-top: 1px solid @greyLight;
  background-color: #f7f7f7;

  &__wrap {
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 790px;

    .tablet({
      flex-direction: column;
    });
  }

  &__col {

    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
      margin-left: 31px;
    }

    .tablet({
      margin-bottom: 27px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
        margin-left: 0;
      }
    });
  }

  &__text {
    margin-top: 15px;
    margin-right: 80px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
  }
}