@import "../core/mixins.less";


.tabs {
  margin-top: 65px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__el {
    margin: 0 37px;
    padding: 0 21px 7px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
    font-family: 'light', Helvetica, Arial, serif;
    font-weight: 400;

    .tablet({
      padding: 0 18px 7px;
    });

    &.is-active {
      font-family: 'book', Helvetica, Arial, serif;
      border-color: @blue;
    }
  }
}

.tab-descr {
  margin: 0 auto;
  padding: 40px 0 49px;
  text-align: center;
  border-top: 1px solid @greyLight;

  &__text {
    display: inline-flex;
    max-width: 605px;
    font-size: 19px;
    line-height: 1.3;
    font-family: 'light', Helvetica, Arial, serif;

    .tablet({
      max-width: 485px;
    });
  }
}