@import "../core/mixins.less";
@import "../core/variables.less";

.traits {
  border-top: 1px solid @greyLight;
  border-bottom: 1px solid @greyLight;

  .mobile({
    border-bottom: none
  });

  &.personality {

    .progress__line::after {
      background-color: #EDC951;
    }
  }

  &.needs {

    .progress__line::after {
      background-color: #CC333F;
    }
  }

  &.values {

    .progress__line::after {
      background-color: #00A0B0;
    }
  }
}

.trait {
  padding: 28px 0 55px;
  border-bottom: 1px solid @greyLight;

  .r1100({
    padding: 28px 20px 55px;
  });

  .tablet({
    padding: 28px 30px 55px;
  });

  .mobile({
    padding: 28px 0 55px;
  });

  &.is-open {
    .btn.is-plus:after {
      display: none;
    }
  }

  &__wrap {
    display: flex;
    position: relative;
    flex-wrap: wrap;

    .tablet({
      padding-bottom: 70px!important;
    })
  }

  &__left,
  &__right {
    width: 50%;
    box-sizing: border-box;

    .tablet({
      width: 100%;
    });
  }

  &__left {
    padding-left: 15px;
    padding-right: 40px;

    .r1100({
      padding-left: 65px;
    });


    .tablet({
      padding-left: 114px;
      padding-right: 0;
    });

    .mobile({
      padding-left: 68px;
    });
  }

  &__right {
    display: flex;
    padding: 0 40px;
    align-items: flex-end;

    .tablet({
      margin-top: 55px;
    });
  }

  &__num {
    position: absolute;
    top: -5px;
    left: -50px;
    color: #E3E3E3;
    font-size: 58px;
    line-height: 58px;
    font-weight: bold;

    .r1100({
      left: 0;
    });

    .tablet({
      top: -5px;
      left: 50px;
    });

    .mobile({
      left: 8px;
    });
  }

  &__text {
    font-size: 13px;

    .tablet({
      font-size: 18px;
    });
  }

  &__details {
    width: 100%;
    padding: 0 40px;
    margin-top: 58px;
    margin-left: 50%;

    .tablet({
      padding: 0 40px 0 0;
      margin-left: 0;
    });
  }

  &__row {
    display: flex;
    margin-bottom: 22px;
    align-items: center;

    .mobile({
      flex-direction: column;
    });
  }

  &__descr {
    width: 55%;
    margin-right: 10px;
    font-size: 12px;
    text-align: right;

    .tablet({
      font-size: 17px;
    });

    .mobile({
      width: 100%;
      margin-left: 15px;
      text-align: left;
    });
  }

  &:last-child {
    border-bottom: none;

    .trait__details {
      display: block;
    }
  }

  .title {
    margin-bottom: 25px;
    font-family: 'book', Helvetica, Arial, serif;
  }

  .btn {
    position: absolute;
    left: 25px;
    bottom: -30px;

    .r1100({
      left: 75px;
    });

    .tablet({
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
    });

  }
}
