body {
  background: $white0;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif
}

/*Clearfix hack*/

.row:after, .cf {
  content: "";
  display: table;
  clear: both;
}
.column, .columns {
  /*width: 100%;*/
  float: left;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1280px;
}

#header-container {
  .header-links {
    padding-top: 7px;

    & * {
      color: $white0 !important;
    }
  }
}

.bgGray{
  background: $gray0;
  color: $black0;
}

.bgBlue {
  background: $blue0;
  color: $white0;
}

.Home {
  .s-landing{
    height: 212px;
    text-align: center;
    padding-top:20px;

    h1 {
      text-transform: uppercase;
      font-size: 36px;
      letter-spacing: 5px;
    }
    button {
      border: 1px solid $white0 !important;

      & * {
        text-transform: initial !important;
        color: $white0;
      }
    }
  }
}
