body {
  background: $white0;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif
}

/*Clearfix hack*/

.row:after, .cf {
  content: "";
  display: table;
  clear: both;
}
.column, .columns {
  /*width: 100%;*/
  float: left;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1280px;
}

#header-container {
  .header-links {
    padding-top: 7px;

    & * {
      color: $white0 !important;
    }
  }
}

.bgGray{
  background: $gray0;
  color: $black0;
}

.bgBlue {
  background: $blue0;
  color: $white0;
}

.Home {
  .s-landing{
    height: 212px;
    text-align: center;
    padding-top:20px;

    h1 {
      text-transform: initial;
      font-size: 36px;
      letter-spacing: 5px;
    }
    button {
      border: 1px solid $white0 !important;

      & * {
        text-transform: initial !important;
        color: $white0;
      }
    }
  }
}


#quiz-data{
  .instructions {
    margin-bottom: 20px;
  }

  .data-options{
    .data-option.complete >div {
      background: #10c5d2;
    }
    .data-option > div{
      width: 210px;
      text-align: left !important;
      cursor: pointer;

      .data-option-status {
        font-size: 18px;
        margin: 2px 5px 0;

        background: lightgray;
        border-radius: 3px;

        .complete{
          background: #4fb7d2;
        }
      }

      .data-option-img {
        width: 16px;
        height: 16px;
        margin: 0px 10px 0;
        top: 1px;
        position: relative;
      }
      .data-option-txt{
        width: 200px;
      }
    }
  }
}
